
<app-card-v1>
  <div class="m-6 p-4 rounded-md bg-white">
    <div [formGroup]="form" *ngIf="form">
      <div class="flex justify-between items-baseline">
        <h2 class="my-2 text-2xl font-semibold">{{(userId == '0') ? 'New User' : 'Edit User'}}</h2>
      </div>
      <mat-divider></mat-divider>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
          <label for="userName" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">User Name</label>
          <mat-form-field appearance="outline" class="w-[90%]">
            <input aria-label="User Name" matInput type="text" id="userName" placeholder="Enter User Name" formControlName="userName" class="text-base">
            <mat-error *ngIf="userName.errors?.['required']">User Name is mandatory.</mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col">
          <label for="password" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Password</label>
          <mat-form-field appearance="outline" class="w-[90%]">
            <input aria-label="password" matInput type="text" id="password" placeholder="Enter Password" formControlName="password" class="text-base">
            <mat-error *ngIf="password.errors?.['required']">Password is mandatory.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
          <label for="jobTitle" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Job Title</label>
          <mat-form-field appearance="outline" class="w-[90%]">
            <input aria-label="jobTitle" matInput type="text" id="jobTitle" placeholder="Enter Job Title" formControlName="jobTitle" class="text-base">
            <mat-error *ngIf="jobTitle.errors?.['required']">Job Title is mandatory.</mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col">
          <label for="position" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Position</label>
          <mat-form-field appearance="outline" class="w-[90%]">
            <input aria-label="position" matInput type="text" id="position" placeholder="Enter Position" formControlName="position" class="text-base">
            <mat-error *ngIf="position.errors?.['required']">Position is mandatory.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
           <div class="flex flex-col">
            <label for="mobileNumber" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Mobile</label>
            <mat-form-field appearance="outline" class="w-[90%]">
              <input aria-label="Mobile Number" minlength="11" maxlength="11" type="text" matInput
                placeholder="01XXXXXXXXX" formControlName="mobileNumber" inputmode="numeric" class="text-base"
                (keydown)="isValidNumber($event)">
  
              <mat-error *ngIf="mobileNumber.errors?.['required']"> Mobile Number is mandatory</mat-error>
              <mat-error *ngIf="mobileNumber.errors?.['pattern']"> Only numerical digits are allowed for mobile
                number.</mat-error>
              <mat-error *ngIf="!mobileNumber.errors?.['pattern'] && mobileNumber.errors?.['invalidMobileNumber']">
                {{mobileNumber.errors?.['invalidMobileNumber'].message}}
              </mat-error>
            </mat-form-field>
           </div> 

           <div class="flex flex-col">
            <label for="emailAddress" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Email</label>
            <mat-form-field appearance="outline" class="w-[90%]">
              <input aria-label="Email Address" type="email" matInput id="emailAddress" placeholder="Email Address" formControlName="emailAddress" class="text-base">
              <mat-error *ngIf="emailAddress.errors?.['required']">Email Address is mandatory</mat-error>
              <mat-error *ngIf="emailAddress.errors?.['pattern']">Invalid Email Address.</mat-error>
            </mat-form-field>
          </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
         <label for="reviewType" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Review Type</label>
         <mat-form-field appearance="outline" class="w-[90%]">
          <input type="text" placeholder="Please select" aria-label="Branch" matInput formControlName="reviewType"
            [matAutocomplete]="reviewTypeAutoComplete">
          <mat-autocomplete autoActiveFirstOption #reviewTypeAutoComplete="matAutocomplete"
            [displayWith]="displayReviewTypeAutocompleteValue">
            <mat-option *ngFor="let element of filteredReviewTypeList | async" [value]="element">
              {{element.reviewTypeName}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="reviewType.errors?.['required']">
            Review Type is mandatory.
          </mat-error>
          <mat-error *ngIf="reviewType.errors?.['invalidValue']">
            Please select valid value
          </mat-error>
        </mat-form-field>
        </div> 

        <div class="flex flex-col">
        
        </div>
      </div>
      
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
          <div class="flex items-center">
            <input type="checkbox" id="isActive" formControlName="isActive" class="form-checkbox h-5 w-5 text-indigo-600">
            <label for="isActive" class="ml-2 text-lg font-medium text-gray-700">Active</label>
          </div>
        
        </div> 

        <div class="flex flex-col">
        
        </div>
      </div>

    </div>  

    <div class="flex justify-between mx-4 mt-6">
      <button mat-raised-button data-testid="Back" (click)="back()" class="py-2 px-4 rounded-md bg-gray-300 text-gray-700 text-lg">Back</button>
    
      <div class="flex">
        <button mat-raised-button data-testid="Save" color="primary" (click)="submit()" class="py-3 px-8 rounded-md  text-white text-lg mr-20" [disabled]="!form.valid || !form.dirty" *ngIf="userId == '0'">Create</button>
    
        <button mat-raised-button data-testid="Edit" color="primary" (click)="edit()" class="py-3 px-8 rounded-md  text-white text-lg mr-20" [disabled]="!form.valid || !form.dirty" *ngIf="userId != '0'">Update</button>
      </div>
    </div>
  </div>
</app-card-v1>