

<app-card-v1>
  <div class="m-6 p-4 rounded-md bg-white">
    <div [formGroup]="form" *ngIf="form">
      <div class="flex justify-between items-baseline">
        <h2 class="my-2 text-2xl font-semibold">{{(departmentStaffId == '0') ? 'New Department Staff' : 'Edit Department Staff'}}</h2>
      </div>
      <mat-divider></mat-divider>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
       
        <div class="flex flex-col">
          <label for="organizationId" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Organization</label>
          <mat-form-field appearance="outline" class="w-[90%]">
           <input type="text" placeholder="Please select" aria-label="organizationId" matInput formControlName="organizationId"
             [matAutocomplete]="organizationTypeAutoComplete">
           <mat-autocomplete autoActiveFirstOption #organizationTypeAutoComplete="matAutocomplete"
             [displayWith]="displayOrganizationTypeAutocompleteValue">
             <mat-option *ngFor="let element of filteredOrganizationTypeList | async" [value]="element">
               {{element.name}}
             </mat-option>
           </mat-autocomplete>
           <mat-error *ngIf="organizationId.errors?.['required']">
             Organization is mandatory.
           </mat-error>
           <mat-error *ngIf="organizationId.errors?.['invalidValue']">
             Please select valid value
           </mat-error>
         </mat-form-field>
         </div> 

         <div class="flex flex-col">
          <label for="departmentId" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Department</label>
          <mat-form-field appearance="outline" class="w-[90%]">
           <input type="text" placeholder="Please select" aria-label="departmentId" matInput formControlName="departmentId"
             [matAutocomplete]="departmentTypeAutoComplete">
           <mat-autocomplete autoActiveFirstOption #departmentTypeAutoComplete="matAutocomplete"
             [displayWith]="displayDepartmentAutocompleteValue">
             <mat-option *ngFor="let element of filteredDepartmentTypeList | async" [value]="element">
               {{element.name}}
             </mat-option>
           </mat-autocomplete>
           <mat-error *ngIf="departmentId.errors?.['required']">
             Department is mandatory.
           </mat-error>
           <mat-error *ngIf="departmentId.errors?.['invalidValue']">
             Please select valid value
           </mat-error>
         </mat-form-field>
         </div>
      </div>


      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
          <label for="userId" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">User</label>
          <mat-form-field appearance="outline" class="w-[90%]">
           <input type="text" placeholder="Please select" aria-label="userId" matInput formControlName="userId"
             [matAutocomplete]="userTypeAutoComplete">
           <mat-autocomplete autoActiveFirstOption #userTypeAutoComplete="matAutocomplete"
             [displayWith]="displayUserTypeAutocompleteValue">
             <mat-option *ngFor="let element of filteredUserTypeList | async" [value]="element">
               {{element.name}}
             </mat-option>
           </mat-autocomplete>
           <mat-error *ngIf="userId.errors?.['required']">
             User is mandatory.
           </mat-error>
           <mat-error *ngIf="userId.errors?.['invalidValue']">
             Please select valid value
           </mat-error>
         </mat-form-field>
         </div> 

        <div class="flex flex-col">
        
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
          <div class="flex items-center">
            <input type="checkbox" id="isActive" formControlName="isActive" class="form-checkbox h-5 w-5 text-indigo-600">
            <label for="isActive" class="ml-2 text-lg font-medium text-gray-700">Active</label>
          </div>
        
        </div> 

        <div class="flex flex-col">
        
        </div>
      </div>

    </div>  

    <div class="flex justify-between mx-4 mt-6">
      <button mat-raised-button data-testid="Back" (click)="back()" class="py-2 px-4 rounded-md bg-gray-300 text-gray-700 text-lg">Back</button>
    
      <div class="flex">
        <button mat-raised-button data-testid="Save" color="primary" (click)="submit()" class="py-3 px-8 rounded-md  text-white text-lg mr-20" [disabled]="!form.valid || !form.dirty" *ngIf="departmentStaffId == '0'">Create</button>
    
        <button mat-raised-button data-testid="Edit" color="primary" (click)="edit()" class="py-3 px-8 rounded-md  text-white text-lg mr-20" [disabled]="!form.valid || !form.dirty" *ngIf="departmentStaffId != '0'">Update</button>
      </div>
    </div>
  </div>
</app-card-v1>