<div class="flex flex-col gap-y-5">
  <p>{{data.question}}</p>
  <div class="flex justify-end gap-x-5">
    <button mat-stroked-button color="primary" (click)="onYes()">Yes</button>
    <button mat-stroked-button color="warn" (click)="onNo()">No</button>
  </div>
</div>
