<app-card-v1>

    <div class="flex justify-between gap-x-6 px-6 pt-6">
      <h3 class="text-2xl font-semibold">DepartmentStaffs</h3>
      <div>
  
        <!-- <button  mat-raised-button color="accent" (click)="openDialog()" >Filter</button> -->
        
        <button mat-raised-button color="primary" (click)="clickedButton('0')" class="ml-2">
          <i class="material-icons">add_circle_outline</i>&nbsp;Create DepartmentStaff
        </button>   
      </div> 
      
    </div>
  
    <div class="bg-white space-y-6 mb-1">
  
      <mat-table [dataSource]="departmentStaffList">
  
        <ng-container *ngFor="let columnInfo of getColumnInfos()">
          <ng-container [matColumnDef]="columnInfo.columnDef" *ngIf="columnInfo.columnDef != 'action'">
  
            <mat-header-cell *matHeaderCellDef>
              <p [ngClass]="tableHeaderCss">{{columnInfo.header}}</p>
            </mat-header-cell>
  
            <mat-cell *matCellDef="let row">
              {{getRowData(columnInfo, row)}}
            </mat-cell>
  
          </ng-container>
          <ng-container [matColumnDef]="columnInfo.columnDef" *ngIf="columnInfo.columnDef == 'action'">
  
            <mat-header-cell *matHeaderCellDef>
              <p [ngClass]="tableHeaderCss">{{columnInfo.header}}</p>
            </mat-header-cell>
  
            <mat-cell *matCellDef="let row">
              <button mat-raised-button color="primary" aria-label="Update Device" (click)="clickedButton(row.id)">
                <i class="material-icons">edit</i>&nbsp;Edit
              </button>
            </mat-cell>
  
          </ng-container>
        </ng-container>
  
        <!-- No Data Row -->
        <div *matNoDataRow>
          <p class="font-semibold text-xl text-center pt-6 pb-6">No data found</p>
          <mat-divider></mat-divider>
        </div>
  
        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="getDisplayedColumns()" class="bg-slate-100"></mat-header-row>
        <mat-row *matRowDef="let row; let index = index; columns: getDisplayedColumns()" class="xs:bg-white"
          [class.bg-gray-100]="index %2 != 0"></mat-row>
  
      </mat-table>
  
      <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[10, 50, 100]"
        showFirstLastButtons>
      </mat-paginator>
  
    </div>
  </app-card-v1>
  
