

<div class="not-found">

  <img class="page-not-found-image mat-elevation-z10"
       src="/assets/images/http-error-404-not-found.png">

  <h1>Page Not Found</h1>
  <p>Did you mistype something in the browser address bar?</p>

<!-- <a [routerLink]="'/'">Home</a> -->

</div>

