
<app-card-v1>
  <div class="m-6 p-4 rounded-md bg-white">
    <div [formGroup]="form" *ngIf="form">
      <div class="flex justify-between items-baseline">
        <h2 class="my-2 text-2xl font-semibold">{{(visitorCardId == '0') ? 'New VisitorCard' : 'Edit VisitorCard'}}</h2>
      </div>
      <mat-divider></mat-divider>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
          <label for="cardNumber" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Card Number</label>
          <mat-form-field appearance="outline" class="w-[90%]">
            <input aria-label="Card Number" matInput type="text" id="cardNumber" placeholder="Enter Card Number" formControlName="cardNumber" class="text-base">
            <mat-error *ngIf="cardNumber.errors?.['required']">Card Number is mandatory.</mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col">
          <label for="cardDescription" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Card Description</label>
          <mat-form-field appearance="outline" class="w-[90%]">
            <input aria-label="cardDescription" matInput type="text" id="cardDescription" placeholder="Enter Card Description" formControlName="cardDescription" class="text-base">
            <mat-error *ngIf="cardDescription.errors?.['required']">Card Description is mandatory.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
          <div class="flex items-center">
            <input type="checkbox" id="isActive" formControlName="isActive" class="form-checkbox h-5 w-5 text-indigo-600">
            <label for="isActive" class="ml-2 text-lg font-medium text-gray-700">Active</label>
          </div>
        
        </div> 

        <div class="flex flex-col">
        
        </div>
      </div>

    </div>  

    <div class="flex justify-between mx-4 mt-6">
      <button mat-raised-button data-testid="Back" (click)="back()" class="py-2 px-4 rounded-md bg-gray-300 text-gray-700 text-lg">Back</button>
    
      <div class="flex">
        <button mat-raised-button data-testid="Save" color="primary" (click)="submit()" class="py-3 px-8 rounded-md  text-white text-lg mr-20" [disabled]="!form.valid || !form.dirty" *ngIf="visitorCardId == '0'">Create</button>
    
        <button mat-raised-button data-testid="Edit" color="primary" (click)="edit()" class="py-3 px-8 rounded-md  text-white text-lg mr-20" [disabled]="!form.valid || !form.dirty" *ngIf="visitorCardId != '0'">Update</button>
      </div>
    </div>
  </div>
</app-card-v1>