<div class="flex flex-col bg-white gap-y-8 m-12 mt-6 xs:m-1 sm:m-1 md:m-4 md:mt-2 lg:m-4 lg:mt-4 rounded-lg border-2 border-sky-400 z-[199] shadow-xl">
  <ng-content></ng-content>
</div>
<!-- p-6 xs:p-2 sm:p-3 md:px-6 md:py-4 -->
