
<div class="flex absolute inset-0">

  <!-- sidenav -->
  <ng-container *ngIf="!homePage">

    <aside id="sidebar"
      class="fixed top-0 left-0 bottom-0 h-full bg-white z-[999] duration-500 delay-[0s] ease-out transition-all"
      [class.w-0]="homePage || (!isSideNavOpen && sideNavMode == 'over')"
      [class.w-72]="isSideNavOpen || sideNavMode == 'side'"
      style="box-shadow: 0 8px 10px -5px #0003, 0 16px 24px 2px #00000024, 0 6px 30px 5px #0000001f;">

      <button aria-label="Close Navbar" class="sidebar-toggle flex items-center bg-white rounded-full text-black"
        *ngIf="isSideNavOpen && sideNavMode == 'over'" (click)="toggleDrawer()">
        <mat-icon>cancel</mat-icon>
      </button>

      <nav id="sidebar-content" class="flex flex-col h-full overflow-hidden bg-white">

        <div id="sidebar-main" class="relative flex-1">

          <div [ngClass]="dark.backgroundColor"
            class="left-0 opacity-100 z-[1] flex flex-col overscroll-contain absolute w-full h-full duration-500 delay-[0s] ease-out transition-all">

            <div id="sidebar-header" class="basis-12 flex items-center justify-between overflow-hidden pt-2 px-2">

              <img class="h-fit mt-1 mr-16 xs:mr-3 sm:mr-8 cursor-pointer" src="../../../assets/images/queuePro.png" style="height: 55px;width: 55px;margin-left: 25px;"
                alt="VMS" routerLink="/" />

            </div>

            <div id="sidebar-body" class="overflow-x-hidden overflow-y-auto flex-1 scroll-smooth">

              <mat-nav-list role="navigation" class="max-w-fit">

                <ng-container *ngFor="let nav of navs;index as i;">
                  <!-- Checking if currently logged in user can view this nav option -->
                  <ng-container *ngIf="nav.allowedGroup?.lastIndexOf(groupName) != -1">

                    <!-- Does not have any children -->
                    <mat-list-item *ngIf="!nav.childrens" routerLinkActive="nav-background">

                      <a [routerLink]="nav.route" class="flex w-64">
                        <div class="flex items-center w-full">
                          <img [src]="nav.imagePath" alt="" class="mr-4" />
                          <p class="text-base" [ngClass]="dark.textColor">{{nav.displayName}}</p>
                        </div>
                      </a>

                    </mat-list-item>

                    <!-- Have Childrens -->
                    <ng-container *ngIf="nav.childrens && nav.childrens.length > 0">

                      <div class="flex flex-col cursor-pointer w-72">
                        <!-- Header -->
                        <div class="flex items-center p-3" [class.nav-background]="clickedStatusList[i]" (click)="setExpanded(i)">
                          <div class="flex items-center min-w-[90%]">
                            <img [src]="nav.imagePath" alt="" class="mr-4" fill="white"/>
                            <p class="text-base" [ngClass]="dark.textColor">{{nav.displayName}}</p>
                          </div>
                          <div class="flex">
                            <mat-icon [@animationRotate]="expandedStatusList[i]" class="bg-transparent text-white">expand_more</mat-icon>
                          </div>
                        </div>

                        <!-- Child List -->
                        <!-- *ngIf="nav.allowedGroup?.lastIndexOf(groupName) != -1" -->
                        <div [@animationShowHide]="expandedStatusList[i]" >
                          <ng-container *ngFor="let children of nav.childrens">
                            <mat-list-item *ngIf="children.allowedGroup?.lastIndexOf(groupName) != -1" routerLinkActive="nav-background">
                              <div
                                class="bg-gray-200 py-2 text-center border-y-2 border-solid border-white w-full cursor-auto"
                                *ngIf="children.type == headerType">
                                {{children.displayName}}
                              </div>
                              <a [routerLink]="children.route" class="flex pl-9 w-full"
                                routerLinkActive="active-text-color" *ngIf="!children.type && !children.queryParamKey">
                                <p class="text-base text-white">{{children.displayName}}</p>
                              </a>
                              <a class="flex pl-9 w-full" routerLinkActive="active-text-color"
                                *ngIf="!children.type && children.queryParamKey" [routerLink]="children.route"
                                [queryParams]="createQueryParamJson(children.queryParamKey,children.queryParamValue)">
                                <p class="text-base text-white">{{children.displayName}}</p>
                              </a>
                            </mat-list-item>
                          </ng-container>
                        </div>

                      </div>
                    </ng-container>

                  </ng-container>
                </ng-container>

              </mat-nav-list>

            </div>

          </div>

        </div>

        <div id="sidebar-footer"></div>

      </nav>

    </aside>
  </ng-container>

  <div class="flex-1 flex flex-col duration-500 delay-[0s] transition-[margin-left] ease-out"
    [class.ml-0]="homePage || sideNavMode == 'over'" [class.ml-72]="!homePage && sideNavMode == 'side'">

    <!-- header -->
    <!-- bg-black -->
    <div id="header"
      class="flex items-center justify-between basis-12 px-2 bg-indigo-200 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-xl">
      <div class="flex m-3">

        <ng-container *ngIf="homePage">
          <img class="h-fit mt-1 mr-16 xs:mr-3 sm:mr-8 cursor-pointer" src="../../../assets/images/client_logo_black.png"
            alt="VMS" routerLink="/" />
        </ng-container>

        <ng-container *ngIf="!homePage && sideNavMode == 'over'">

          <img class="h-fit mt-1 mr-16 xs:mr-3 sm:mr-8 cursor-pointer" src="../../../assets/images/client_logo_black.png"
            alt="VMS" routerLink="/" />
          <button mat-icon-button aria-label="Nav Icon Button" (click)="toggleDrawer()">
            <mat-icon>menu</mat-icon>
          </button>
        </ng-container>
      </div>
      <div class="flex items-center">
        <!-- <app-cs-notification-shell *ngIf="!homePage"></app-cs-notification-shell> -->

        <img src="../../../assets/images/avatar.png" class="rounded w-10 m-1" alt="Avatar" />
        <div>
          <p>Aditto</p>
          <!-- <p>{{(userFullName$ | async)}}</p> -->
          <!-- <p>Head of Account</p> -->
        </div>
        <button mat-icon-button aria-label="Menu BUtton" [matMenuTriggerFor]="logoutDropdown">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </div>

    <!-- page content -->
    <div class="flex-1">
      <!-- overlay -->
      <div class="duration-500 delay-[0s] transition-[margin-left] ease-out"
        [class.backdrop]="isSideNavOpen && sideNavMode == 'over'" [class.ml-72]="isSideNavOpen && sideNavMode == 'over'"
        (click)="toggleDrawer()"></div>
      <!-- sidenav container -->
      <!-- "background-color: #f8f9fd;" -->
      <main id="sidenav-container" class="relative block h-full overflow-auto flex-1 main-background"
        style="background-image: url('../../../assets/images/background_4873152.jpg');">
        <router-outlet></router-outlet>
        <!-- <router-outlet name="processflow"></router-outlet> -->
        <!-- <button   class="bg-gray-600 text-white border border-gray-400 hover:bg-gray-400  absolute bottom-0 right-0 h-10 w-10 rounded-full  " >
          <mat-icon> expand_less</mat-icon>
        </button> -->
        <!-- [ngClass]="{'show-scrollTop': windowScrolled}" (click)="scrollToTop()" -->
        <button *ngIf="false" (click)="scrollToTop()" mat-mini-fab
          class="transition duration-150 ease-in-out bg-[#f8f9fd] text-black absolute bottom-6 right-6"
          aria-label="Example icon button with a home icon">
          <mat-icon> expand_less</mat-icon>
        </button>
        <div class="h-12"></div>
        <div
          class="absolute bottom-0  flex w-full justify-center py-3 bg-gray-200 border-t border-solid border-slate-300">
          <a target="_blank" style="color: black; font-style: italic">&nbsp;VMS - {{vmsVersion}} &copy;&nbsp; Visitor 2023. All rights reserved.</a>
        </div>
      </main>
    </div>
  </div>

  <mat-menu #logoutDropdown="matMenu">
    <button mat-menu-item class="menu-item-padding" (click)="logout()">
      <mat-icon>lock</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

</div>
