.main-background {
  background-size: contain;
  background-position: center;
  background-color: #f8f9fd;
}

.sidebar-toggle {
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  right: -12px;
  top: 18px;
  z-index: 1;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.32);
  z-index: 20000;
}


#sidebar-body::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

#sidebar-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#sidebar-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.nav-background {
  background: #326b02;
}

.active-text-color {
  color: #0db14b;
}

.mat-list-item:hover {
  background: black;
}

