
<app-card-v1>
  <div class="m-6 p-4 rounded-md bg-white">
    <div [formGroup]="form" *ngIf="form">
      <div class="flex justify-between items-baseline">
        <h2 class="my-2 text-2xl font-semibold">{{(departmentId == '0') ? 'New Department' : 'Edit Department'}}</h2>
      </div>
      <mat-divider></mat-divider>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
         <label for="newDepartment" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">New Department</label>
         <mat-form-field appearance="outline" class="w-[90%]">
          <input type="text" placeholder="Please select" aria-label="newDepartment" matInput formControlName="newDepartment"
            [matAutocomplete]="reviewTypeAutoComplete">
          <mat-autocomplete autoActiveFirstOption #reviewTypeAutoComplete="matAutocomplete"
            [displayWith]="displayDepartmentTypeAutocompleteValue">
            <mat-option *ngFor="let element of filtereddDepartmentTypeList | async" [value]="element">
              {{element.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="newDepartment.errors?.['required']">
            new Department is mandatory.
          </mat-error>
          <mat-error *ngIf="newDepartment.errors?.['invalidValue']">
            Please select valid value
          </mat-error>
        </mat-form-field>
        </div> 

        <div class="flex flex-col">
          <label for="name" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Department Name</label>
          <mat-form-field appearance="outline" class="w-[90%]">
            <input aria-label="Device Location" matInput type="text" id="name" placeholder="Enter Department Name" formControlName="name" class="text-base">
            <mat-error *ngIf="name.errors?.['required']">Department Name is mandatory.</mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
          <label for="description" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Department Description</label>
          <mat-form-field appearance="outline" class="w-[90%]">
            <input aria-label="description" matInput type="text" id="description" placeholder="Enter Department Description" formControlName="description" class="text-base">
            <mat-error *ngIf="description.errors?.['required']">Department Description is mandatory.</mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col">
          <label for="code" class="text-lg font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Department Code</label>
          <mat-form-field appearance="outline" class="w-[90%]">
            <input aria-label="code" matInput type="text" id="code" placeholder="Enter Department Code" formControlName="code" class="text-base">
            <mat-error *ngIf="code.errors?.['required']">Department Code is mandatory.</mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div class="flex flex-col">
          <div class="flex items-center">
            <input type="checkbox" id="isActive" formControlName="isActive" class="form-checkbox h-5 w-5 text-indigo-600">
            <label for="isActive" class="ml-2 text-lg font-medium text-gray-700">Active</label>
          </div>
        
        </div> 

        <div class="flex flex-col">
        
        </div>
      </div>

    </div>  

    <div class="flex justify-between mx-4 mt-6">
      <button mat-raised-button data-testid="Back" (click)="back()" class="py-2 px-4 rounded-md bg-gray-300 text-gray-700 text-lg">Back</button>
    
      <div class="flex">
        <button mat-raised-button data-testid="Save" color="primary" (click)="submit()" class="py-3 px-8 rounded-md  text-white text-lg mr-20" [disabled]="!form.valid || !form.dirty" *ngIf="departmentId == '0'">Create</button>
    
        <button mat-raised-button data-testid="Edit" color="primary" (click)="edit()" class="py-3 px-8 rounded-md  text-white text-lg mr-20" [disabled]="!form.valid || !form.dirty" *ngIf="departmentId != '0'">Update</button>
      </div>
    </div>
  </div>
</app-card-v1>