
<div class="spinner-container" *ngIf="loadingService.loading()">
    <!-- <img src="assets/images/insightdb_logo_b.png" alt="Insightdb"> -->
    <!-- <img src="assets/images/loader_colored_a.gif"> -->
    <div class="h-2"></div>
    <mat-spinner [diameter]="48"></mat-spinner>
  
  </div>
  
  